body{
    /* background: linear-gradient(45deg,rgb(104, 159, 214) ,pink, purple );   */
    font-family:  "Plus Jakarta Sans",Trebuchet MS,sans-serif;
    background-image: url("../assets/f.jpg");
    border-radius: 10px;
    background-size: 100%;
    background-attachment: cover;
    background-position: center;
    
}


.container {

    padding: 10px;
    color: #452929;
    width: 50%;
    margin-top: 20vh;
    margin-left: 50%; /* This will push it to the right */
    margin-right: 0;
    border-radius: 5px;
    opacity: 0.9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #060101;
    text-align: center;
}

/* form {
    display: flex;
    flex-direction: column; 
    width:350px;
    margin-top: 15vh;
    margin-left: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.2);

}  */

label {
    color: #060101;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    outline: none;
    background: rgba(110, 86, 86, 0.2);
    color:#060101;
    border-radius: 5px;
    text-align: left;
}

input[type="submit"] {
    background: linear-gradient(45deg,green, white );  
    color:#fff;
    padding: 15px 20px;
    width: 100%;
    border: none;
    margin: 8px 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: left;
}

input[type="submit"]:hover {
    background-color: #8B0000;
}

a {
    color: #060101;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;

}

a:hover {
    text-decoration: underline;
}