.form-container {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .button {
    background-color: #037518;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}
.button :hover{
    background-color: orange;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-left: 32px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

input[type="file"] {
  padding: 0;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;


}

.button1 {

  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5vh;

}

button:hover {
  background-color: #45a049;
}

.green {
  color: green;
}

.white {
  color: white;
}

.orange {
  color: orange;
}

.search-container {
  float: right;
  margin-left: 20vh;
  display: flex;
}

.search-input {
  border-color: black;
  padding: 10px;
  width: 30px;
  border-radius: 20px;
  margin-left: 5vh;
}

.search-button {
  padding: 8px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  color: #1E5631;

}

.dropdown-checkbox {
  position: relative;
  display: inline-block;
}

/* Style the dropdown button */
.dropdown-btn {
  padding: 5px;
}

/* Style the dropdown content (checkboxes) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;

}

/* Show the dropdown content when the dropdown button is clicked */
.dropdown-checkbox:hover .dropdown-content {
  display: block;
}

/* Style the checkboxes and labels */
.dropdown-content input[type="checkbox"] {
  margin-bottom: 5px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.checkbox-content::after {
  content: "";
  display: table;
  clear: both;
}