
th {
    background-color: orange;
    color: white;
    padding: 10px;
    }
.button {
  background-color: orange;
border: none;
border-radius: 10px;
color: white;
padding: 15px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 10px 2px;
cursor: pointer;
}
.button :hover{
  background-color: orange;
}

/* Style for the entire table */
table {
width: 100%;
border-collapse: collapse;
margin: 20px;
}

/* Style for table header cells */
th {
background-color: #1E5631;
color: white;
padding: 10px;
}

/* Style for table data cells */
td {
padding: 8px;
border: 1px solid #ccc;
}

/* Style for even rows */
tr:nth-child(even) {
background-color: #f2f2f2;
}

/* Style for odd rows */
tr:nth-child(odd) {
background-color: #e6e6e6;
}

/* Style for the Delete button */
button[name="btnDeleteUser"] {
background-color: #ff5722;
color: white;
padding: 5px 10px;
border: none;
cursor: pointer;
}

/* Style for the Activate and Deactivate buttons */
button[name="btnStatus"], button[name="btnSubs"]{
background-color: #1E5631;
color: white;
padding: 5px 10px;
border: none;
cursor: pointer;
}

/* Style for checkboxes */
input[type="checkbox"] {
width: 16px;
height: 16px;
}
.search-container {
float: right;
margin-left: 20vh;
display: flex; 
}
form {
display: flex;
align-items: center;
margin: 20px;
}

/* Style for the search input field */
input[type="text"] {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
width: 40%;
}

/* Style for the search button */
button[name="btnSearch"] {
background-color:orange;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
margin-left: 10px;
cursor: pointer;
}

/* Hover effect for the search button */
button[name="btnSearch"]:hover {
  background-color: orange;
color:#1E5631;
}
button[name="btnToBasic"], button[name="btnToNotif"],button[name="btnReject"],button[name="btnToRequest"]{
background-color: #1E5631;
color: white;
padding: 5px 10px;
border: none;
cursor: pointer;
}
#imageModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalContent {
  max-width: 90vw; /* Set a maximum width relative to the viewport width */
  max-height: 90vh; /* Set a maximum height relative to the viewport height */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.modal-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Use "contain" to maintain the image's aspect ratio */
}
