body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.h1{
    margin-left:32px;
}
.container {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-left: 32px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    padding: 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
.green {
    color: green; 
}
.white {
    color: white; 
}
.orange {
    color:orange; 
}

.search-container {
    float: right;
    margin-left: 20vh;
    display: flex; 
    }
    
          .search-input {
              border-color: black;
              padding: 10px;
              width: 30%;
              border-radius: 20px;
              margin-left: 5vh; 
          }
    
          .search-button {
              padding: 8px;
              background-color: orange; 
              color: white; 
              border: none;
              border-radius: 5px; 
              cursor: pointer;
          }
    
          .search-button:hover{
              color: #1E5631; 
             
          }
