*{
    margin: 0;
    padding: 0;
}
.clickable-photo {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}
.colored-text {
    font-size: 24px;
    font-weight: bold;
}
.green {
    color: #28a745; /* Green color */
}
.blue {
    color: #007bff; /* Blue color */
}
.red {
    color: #dc3545; /* Red color */
}


