.profile-image-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
   
}
      @media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
img {
    max-width: 100%;
    height: auto;
    border:none;
}
@media only screen and (max-width: 600px) {
    /* Add responsive styles here */
}
.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
button[name="btnUpvote"], button[name="btnComment"]{
background-color: transparent;
color: white;
padding: 5px 10px;
border: none;
cursor: pointer;
}