body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E5631;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.plant-image {
    text-align: center;
}

.plant-description {
    margin-top: 20px;
    font-size: 20px;

}

p {
    margin-top: 20px;
    font-size: 30px;
    font-family: serif;
}

h3 {
    font-family: cursive;
}

.price {
    font-size: 40px;
    margin-top: 20px;
}

/* button {
    background-color: #1E5631;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    align-items: right;
} */

.buy {
    background-color: transparent;
    color: rgb(255, 166, 0);
    border: 3px solid rgb(255, 166, 0);
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    align-items: right;
}

.buy:hover {
    background-color: rgb(255, 166, 0);
    color: #fff;
}

/* button:hover {
    background-color: rgb(255, 166, 0);
    color: #fff;
} */

.ratings {
    margin-top: 20px;
}

.reviews {
    margin-top: 20px;
}

.rating-container .fa {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
    /* Default star color when not clicked */
}

.rating-container .rated {
    color: gold;
    /* Star color when clicked */
}

* {
    box-sizing: border-box
}

/* .card {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            display: flex;
        } */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}