.card-container{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
    gap: 20px;
    padding-left:32px;
    padding-right:32px;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 16px 16px 0px 0px;
    display: block;

}

.card i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 60px;
    color: #ffa500;
    text-shadow: 2px 2px 4px #000000;
}

.card i :hover{
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(30, 86, 49, 0.2);
    max-width: 312px;
    max-height: 404px;
    flex: 1 0 21%;
    /* margin: auto; */
    text-align: left;
    font-family: arial;
    border-radius: 16px;
    position: relative;
    padding-bottom:10px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }

.plantName{
    padding-left: 10px;
}

.plantDef{
    padding: 0px 10px 10px 10px;
}
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    font-weight: bold;
    background-color: #ffa500;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    border-radius: 50px;
  }
  
  .p {
    padding: 0px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }




  
body {
    font-family: "Plus Jakarta Sans",Trebuchet MS,sans-serif;
     margin:8px; 
    padding: 0;
}

.green {
    color: green; 
}

.orange {
    color:orange; 
}

.white {
    color: white; 
}

.header {
    margin-left: 100px;
}
.plantname{
    text-align: left;
}
 .navbar {
    background-color:#1E5631;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #1E5631;
    padding: 10px;
    height: 75px;
    border-radius: 5px;
}
.navbar a:last-child {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

/* Styling for search bar */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #1E5631;
    padding: 10px;
    border-radius: 5px;
}
.search-input {
    border: none;
    padding: 8px;
    width: 40%;
    border-radius: 10px;
}
@media screen and(max-widt:786px){
    .search-bar{
        width:50%;
        height: 75px;


}}
/* Styling for categories */
.categories-container {
    display: flex;
    overflow-x: auto;
    padding: 25px;
}
.category {
    width: 240px;
    border: 1px solid #ccc;
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
}
.category:last-child {
    margin-right: 0;
}
.button {
    background-color: #1E5631;
    border: 1px;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 5px;
    margin-top: 10px;
    cursor: pointer;
    }
    
   
    .button:hover {
    background-color: orange; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .button1 {
    background-color: #1E5631;
    border: 1px;
    border-radius: 8px;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 5px;
    margin-top: 10px;
    cursor: pointer;
    }
    
   
    .button1:hover {
    background-color: orange; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .button2 {
    background-color: #1E5631;
    border: 1px;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 5px;
    margin-top: 10px;
    cursor: pointer;
    }
    
   
    .button2:hover {
    background-color: orange; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .button2{
      width:200px;
    }


 .colored-text {
    font-size: 30px; /* You can adjust the size as needed */
}

/* Styling for plant items */
.plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.plant {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}
.navbar .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 70px;
    z-index: 2;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #1E5631;
}
.notification-icon {
    color: white;
    margin-right: 10px;
}
.navbar .icon {
    font-size: 18px;
    color: white;
    margin-right: 10px;
}
.plant-details {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.plant-image {
    width: 170px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.plant:hover .plant-image {
    transform: scale(1.1);
}

.removebookmark {
    text-align: center; 
    font-size: 30px; 
    color:#ffa500; 
    text-shadow: 2px 2px 4px #000000;
    width: 20%;;
}