
body {
    font-family: "Plus Jakarta Sans",Trebuchet MS,sans-serif;
     margin:8px; 
    padding: 0;
}

.green {
    color: green; 
}

.orange {
    color:orange; 
}

.white {
    color: white; 
}
h1 {
    margin-left: 10vh;
   
 }
 .navbar {
    background-color:#1E5631;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #1E5631;
    padding: 10px;
    border-radius: 5px;
}
.navbar a:last-child {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

/* Styling for search bar */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #1E5631;
    padding: 10px;
    border-radius: 5px;
}
.search-input {
    border: none;
    padding: 8px;
    width: 40%;
    border-radius: 10px;
}
@media screen and(max-widt:786px){
    .search-bar{
        width:50%;

}}
/* Styling for categories */
.categories-container {
    display: flex;
    overflow-x: auto;
    padding: 25px;
}
.category {
    width: 240px;
    border: 1px solid #ccc;
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
}
.category:last-child {
    margin-right: 0;
}
.search-container {
    float: right;
    margin-left: 20vh;
    display: flex; 
  }
  .button1 {
      background-color: #1E5631;
      border: 1px;
      border-radius: 8px;
      color: white;
      padding: 20px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
      margin: 4px 5px;
      margin-top: 10px;
      cursor: pointer;
      }
      
     
      .button1:hover {
      background-color: orange; /* Green */
      color: #1E5631;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
      .button2 {
      background-color: #1E5631;
      border: 1px;
      border-radius: 8px;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin: 4px 5px;
      margin-top: 10px;
      cursor: pointer;
      }
      
     
      .button2:hover {
      background-color: orange; /* Green */
      color: #1E5631;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
      
  .button {
      background-color: #1E5631;
      border: 1px;
      border-radius: 8px;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin: 4px 5px;
      margin-top: 10px;
      cursor: pointer;
      }
  .button:hover {
      background-color: orange; 
      color:#1E5631 ;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
          .search-input {
              border-color: black;
              padding: 10px;
              width: 50%;
              border-radius: 20px;
              margin-left: 5vh; 
          }
  
          .search-button {
              padding: 8px;
              background-color: orange; 
              color: white; 
              border: none;
              border-radius: 5px; 
              cursor: pointer;
          }
  
          .search-button:hover{
              color: #1E5631; 
             
          }
          header {
      background-color:#1E5631 ;
      color: black;
      text-align:left 15px;
      padding: 1rem 0;
  }
    .button2{
      width:200px;
    }


 .colored-text {
    font-size: 30px; /* You can adjust the size as needed */
}

/* Styling for plant items */
.plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.plant {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}
.navbar .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 70px;
    z-index: 2;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #1E5631;
}
.notification-icon {
    color: white;
    margin-right: 10px;
}
.navbar .icon {
    font-size: 18px;
    color: white;
    margin-right: 10px;
}
.plant-details {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.plant-image {
    width: 170px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.plant:hover .plant-image {
    transform: scale(1.1);
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
}

  .search-container {
    float: right;
    margin-left: 20vh;
    display: flex; 
  }
  .button1 {
      background-color: #1E5631;
      border: 1px;
      border-radius: 8px;
      color: white;
      padding: 20px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
      margin: 4px 5px;
      margin-top: 10px;
      cursor: pointer;
      }
      
     
      .button1:hover {
      background-color: orange; /* Green */
      color: #1E5631;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
      .button2 {
      background-color: #1E5631;
      border: 1px;
      border-radius: 8px;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin: 4px 5px;
      margin-top: 10px;
      cursor: pointer;
      }
      
     
      .button2:hover {
      background-color: orange; /* Green */
      color: #1E5631;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
      
  .button {
      background-color: #1E5631;
      border: 1px;
      border-radius: 8px;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin: 4px 5px;
      margin-top: 10px;
      cursor: pointer;
      }
  .button:hover {
      background-color: orange; 
      color:#1E5631 ;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
          .search-input {
              border-color: black;
              padding: 10px;
              width: 50%;
              border-radius: 20px;
              margin-left: 5vh; 
          }
  
          .search-button {
              padding: 8px;
              background-color: orange; 
              color: white; 
              border: none;
              border-radius: 5px; 
              cursor: pointer;
          }
  
          .search-button:hover{
              color: #1E5631; 
             
          }
          header {
      background-color:#1E5631 ;
      color: black;
      text-align:left 15px;
      padding: 1rem 0;
  }
  .tab-content {
    display: none;
  }