.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /* Adjust the space between icons */
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
    
}
table {
width: 100%;
border-collapse: collapse;
margin: 20px;
}

/* Style for table header cells */
th {
background-color: orange;
color: white;
padding: 10px;
}

/* Style for table data cells */
td {
padding: 8px;
border: 1px solid #ccc;
}
.button-category {
    background-color: #1E5631;
    color: white;
    padding: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    transition: background-color 0.3s;
    display: inline-block; /* Set display to inline-block */
}

.button-category:hover {
    background-color: orange;
}
.checkbox-label {
    margin-right: 20px;
    font-size: 16px;
    color: #333;
}