body {
    font-family: "Plus Jakarta Sans",Trebuchet MS,sans-serif;
    padding: 0;
}

.grand-parent {
    position: relative;
    background-color: white;

}

.parent {
    padding: 100px;
    position: relative;
    background: #1e5631;
    color: white;
    font-size: 40px;
  }

.child-container{
    position: absolute;
    top: 82.5%;
    left: 50%;
    transform: translate(-50%, -6%)
}

.child1{
    position: relative;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -5%)
}

.child2{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -1%);
    max-width: 600px;
    padding: 5px;
    color:#1e5631;
}

.back {
    padding: 50;
    position: absolute;
    top: 15%;
    left: 3%;
}

.back .fi-rr-arrow-small-left {
    font-size: 40px;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.title {
    padding: 50;
    position: absolute;
    top: 15%;
    left: 6%;
    font-size: 30px;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.fi-rr-pencil {
    font-size: 20px;
    color: #1e5631;
    margin-right: 10px;
    text-decoration: none;
}

.category {
    border: 5px solid #1e5631;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: #1e5631;
    max-width: 300px;
    text-align: left;
    cursor: pointer;
    padding: 5px;
}

.removeB {
    border: none; 
    background-color: white; 
    color: #1e5631;
}

.user-image {
    border-radius: 50%;
    height: 190px;
    width: 190px;
    object-fit: cover;
    cursor: pointer;
}

::placeholder{
    color: #1e5631;
}

input[type=text] {
    width: 100%;
    padding: 7px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #1e5631;
    border-radius: 9px;
    color: #1e5631;
}

input[type=text]:focus{
    outline: 2px solid #1e5631;
}
  
input[type=submit] {
    width: 100%;
    background-color: #E6B400;
    color: white;
    font-weight: bold;
    padding: 7px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1e5631;
}

  